
.main {
  margin: auto;
  max-width: 940px;
}

.main h1 {
  text-align: center;
}

label {
  cursor: default;
  padding: .25rem;
  border: 1px solid grey;
  border-radius: 3px;
  margin-right: .5rem;
}

input {
  display: inline-block;
  margin: .5rem;
}

#editor {
  width: 100%;
  padding: .25rem;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
}

#editor:focus {
  outline: none;
}

.button {
  color: black;
  background-color: white;
  font-size: 1rem;
  padding-left: .25rem;
  padding-right: .25rem;
  border: 1px solid grey;
  border-radius: 3px;
  margin-left: .5rem;
}

#clear {
  float: right;
}

.button:hover {
  color: white;
  background-color: grey;
}