
.main {
  margin: auto;
  max-width: 940px;
}

.main h1 {
  text-align: center;
}

label {
  cursor: default;
}

input {
  display: inline-block;
  margin: .5rem;
}

#editor {
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
}

#preview {
  width: 100%;
  min-height: 5rem;
  padding: .25rem;
  border: 1px solid grey;
  border-radius: 5px;
}
